<template>
    <div class="row mb-2">
        <div class="col-md-12 mb-4">
            <h1 class="page-title">Search results for "{{searchQuery}}"</h1>
        </div>
        <ArticleCard v-for="article in this.$store.state.articles.data" :article="article" :key="article.id"></ArticleCard>

        <div class="col-md-12 mt-3">
            <b-pagination-nav use-router
                :total-rows="this.$store.state.pagination.count"
                :number-of-pages="this.$store.state.pagination.pages"
                :link-gen="linkGen"
                first-text="Prvi"
                prev-text="Prethodni"
                next-text="Slijedeći"
                last-text="Zadnji"
                align="center">

            </b-pagination-nav>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import './assets/sass/colors';

    .page-title.show {
        color: map-get($theme-colors, "show");
    }

    .page-title.sport {
        color: map-get($theme-colors, "sport");
    }

    .page-title.lifestyle {
        color: map-get($theme-colors, "lifestyle");
    }

    .page-title.tech {
        color: map-get($theme-colors, "tech");
    }

    .page-title.fun {
        color: map-get($theme-colors, "fun");
    }

</style>

<script>
    import ArticleCard from '~/components/ArticleCard.vue';
    import ArticlePagination from '~/components/ArticlePagination.vue';
    
    export default {
        layout: 'mainLayout',
        computed: {
            searchQuery() {
                if(this.$route.query.q) {
                    return this.$route.query.q
                }
                else {
                    return ""
                }
            }
        },

        mounted () {
            this.$store.dispatch('fetchArticlesFromSearch', this.searchQuery);

        },

        methods: {
            linkGen(pageNum) {
                //return pageNum === 1 ? `/category/${category_slug}` : `/category/${category_slug}/page/${pageNum}`
                return "#"
            },
        },

        components: {
            ArticleCard, ArticlePagination
        },
    }
</script>

<style>
</style>
