<template>
    <div class="row mb-2">
        <div class="col-md-12 mb-4">
            <h1 class="page-title" v-bind:class="categoryColor">{{activeCategory}}</h1>
        </div>
        <ArticleCard v-for="article in this.$store.state.articles.data" :article="article" :key="article.id"></ArticleCard>

        <div class="col-md-12 mt-3">
            <b-pagination-nav use-router
                :total-rows="this.$store.state.pagination.count"
                :number-of-pages="this.$store.state.pagination.pages"
                :link-gen="linkGen"
                first-text="Prvi"
                prev-text="Prethodni"
                next-text="Slijedeći"
                last-text="Zadnji"
                align="center">

            </b-pagination-nav>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import './assets/sass/colors';

    .page-title.show {
        color: map-get($theme-colors, "show");
    }

    .page-title.sport {
        color: map-get($theme-colors, "sport");
    }

    .page-title.lifestyle {
        color: map-get($theme-colors, "lifestyle");
    }

    .page-title.tech {
        color: map-get($theme-colors, "tech");
    }

    .page-title.fun {
        color: map-get($theme-colors, "fun");
    }

</style>

<script>
    import ArticleCard from '~/components/ArticleCard.vue';
    import ArticlePagination from '~/components/ArticlePagination.vue';
    
    export default {
        layout: 'mainLayout',
        computed: {
            categoryColor() {
                return this.$route.params.slug;
            },
            activeCategory() {
                const category_slug = this.$route.params.slug;
                if (this.$store.state.categories.data.length) {
                    return this.$store.state.categories.data.filter( category => 
                        category.slug == category_slug
                    )[0].title
                }
            }
        },

        mounted () {
            const category_slug = this.$route.params.slug;
            const page = this.$route.params.page || 1;
            this.$store.dispatch('fetchCategoryArticles', {
                slug: category_slug,
                page: page
            });

        },

        methods: {
            linkGen(pageNum) {
                const category_slug = this.$route.params.slug;
                return pageNum === 1 ? `/category/${category_slug}` : `/category/${category_slug}/page/${pageNum}`
            },
        },

        components: {
            ArticleCard, ArticlePagination
        },
    }
</script>

<style>
</style>
