<template>
    <div class="row mb-2">
        <div class="col-md-12 mb-4">
            <h1 class="page-title">NASLOVNA</h1>
        </div>

        <ArticleCard v-for="article in this.$store.state.articles.data" :article="article" :key="article.id"></ArticleCard>

        <div class="col-md-12 mt-3">
            <b-pagination-nav use-router
                :total-rows="this.$store.state.pagination.count"
                :number-of-pages="this.$store.state.pagination.pages"
                :link-gen="linkGen"
                first-text="Prvi"
                prev-text="Prethodni"
                next-text="Slijedeći"
                last-text="Zadnji"
                align="center">

            </b-pagination-nav>
        </div>
    </div>

</template>

<script>
    import ArticleCard from '~/components/ArticleCard.vue';
    import ArticlePagination from '~/components/ArticlePagination.vue';


    export default {
        layout: 'mainLayout',

        mounted () {
            const page = this.$route.params.page || 1;
            this.$store.dispatch('fetchArticles', page);
        },

        methods: {
            linkGen(pageNum) {
                return pageNum === 1 ? '/' : `/page/${pageNum}`
            },
        },

        components: {
            ArticleCard, ArticlePagination
        },

    }
</script>

<style>

</style>
