<template>
  <div class="container">
    <div class="mb-2">
        <Navigation></Navigation>
    </div>

    <Nuxt />
  </div>
</template>

<script>
import Navigation from '~/components/Navigation.vue'

export default {
    layout: 'mainLayout',
    components: {
        Navigation
    },
}
</script>

<style lang="scss">

</style>
