<template>
    <div class="mt-3">
        <b-pagination v-model="currentPage" :total-rows="rows" align="center"></b-pagination>
    </div>
</template>

<style lang="scss" scoped>
    @import './assets/sass/colors';

    .article-meta li {
        background: transparent;
    }

    .card-img {
        display:block;
        height: 200px;
        background-size: cover;
    }

    .card-title {
        font-weight: 700;
    }

    .card-title a {
        color: map-get($theme-colors, "gray-dark");
    }

    .home-link {
      font-weight: 900;
    }

    .nav-link {
      color: map-get($theme-colors, "gray-dark");
    }
    .show_badge-pill {
      background-color: map-get($theme-colors, "show");
    }

    .sport_badge-pill {
      background-color: map-get($theme-colors, "sport");
    }

    .lifestyle_badge-pill{
      background-color: map-get($theme-colors, "lifestyle");
    }

    .tech_badge-pill {
      background-color: map-get($theme-colors, "tech");
    }

    .fun_badge-pill {
      background-color: map-get($theme-colors, "fun");
    }

</style>

<script>

export default {
    props: ['count', 'next', 'previous']
}

</script>
