<template>
  <div class="col-md-4 mb-4">
      <div class="card article-card">
            <a :href="article.link" target="_blank" class="card-img" :style="{backgroundImage: 'url('+article.image_url+')'}"></a>
            <div class="card-body">
                <ul class="list-group article-meta">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-3 pt-0">
                        <span class="badge badge-pill p-2 text-white bg-dark">{{article.date | date}}</span>
                        <span :class="article.category[0].slug+'_badge-pill'" class="badge badge-pill p-2 text-white">{{article.category[0].title}}</span>
                    </li>
                </ul>
                <h5 class="card-title"><a :href="article.link" target="_blank">{{article.title}}</a></h5>
                <p class="card-text">{{article.description}}</p>
                <a :href="article.link" target="_blank">Pročitajte više...</a>
            </div>
      </div>
  </div>
</template>

<style lang="scss" scoped>
    @import './assets/sass/colors';

    .article-meta li {
        background: transparent;
    }

    .card-img {
        display:block;
        height: 200px;
        background-size: cover;
    }

    .card-title {
        font-weight: 700;
    }

    .card-title a {
        color: map-get($theme-colors, "gray-dark");
    }

    .home-link {
      font-weight: 900;
    }

    .nav-link {
      color: map-get($theme-colors, "gray-dark");
    }
    .show_badge-pill {
      background-color: map-get($theme-colors, "show");
    }

    .sport_badge-pill {
      background-color: map-get($theme-colors, "sport");
    }

    .lifestyle_badge-pill{
      background-color: map-get($theme-colors, "lifestyle");
    }

    .tech_badge-pill {
      background-color: map-get($theme-colors, "tech");
    }

    .fun_badge-pill {
      background-color: map-get($theme-colors, "fun");
    }

    .article-card {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .article-card:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      transform: scale(1.05);
    }

</style>

<script>

export default {
    props: ['article'],
    filters: {
        date: function (value) {
            if (!value) return '';
            var date = new Date(value);

            var day = (date>9 ? '' : '0') + date.getDate();
            var month = date.getMonth() + 1; // getMonth() is zero-based
            var year = date.getFullYear();
            var hours = (date.getHours() < 9 ? "0"+String(date.getHours()) : date.getHours());
            var minutes = (date.getMinutes() < 9 ? "0"+String(date.getMinutes()) : date.getMinutes());

            return [[day, (date>9 ? '' : '0') + month, year,].join('.'), " u ", [hours, minutes].join(":")].join(' ');
        }
    },

}

</script>
