<template>
<div class="mb-4">
    <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand class="home-link" :to="'/'">RSS APP</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
    <b-nav pills>
      <b-nav-item 
        v-for="category in this.$store.state.categories.data" 
        :to="'/category/'+category.slug" 
        :class="category.slug + '_nav'" 
        v-bind:key="category.id"
      >
        {{category.title}}
      </b-nav-item>
    </b-nav>
      <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">
        <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>
    </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<style lang="scss" scoped>
    @import './assets/sass/colors';

    .home-link {
      font-weight: 900;
    }
    .nav-link {
      color: map-get($theme-colors, "gray-dark");
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .nav-link:hover {
      color:white;
    }
    .show_nav .nav-link.active, .show_nav a:hover{
      background-color: map-get($theme-colors, "show");
    }

    .sport_nav .nav-link.active, .sport_nav a:hover {
      background-color: map-get($theme-colors, "sport");
    }

    .lifestyle_nav .nav-link.active, .lifestyle_nav a:hover {
      background-color: map-get($theme-colors, "lifestyle");
    }

    .tech_nav .nav-link.active, .tech_nav a:hover {
      background-color: map-get($theme-colors, "tech");
    }

    .fun_nav .nav-link.active, .fun_nav a:hover {
      background-color: map-get($theme-colors, "fun");
    }

</style>

<script>

export default {
    mounted () {
       this.$store.dispatch('fetchCategories');
    },

    computed: {
      homeActive() {
        if(this.$route.name == "index") {
          return "active-home";
        }
        else
          return;;
      },
    }
}

</script>
